<html>
<body>
<h3> Course Announcement ${message.lector.name} : ${message.nameCourse} </h3>
--------------------------------------------------------------------
<br>
<table>
    <tr><th align="left">Category:</th>   <td>    ${message.category}</td></tr>
    <tr> <th align="left">Name:     </th>     <td>   ${message.nameCourse}</td></tr>
    <tr><th align="left">Description: </th>    <td>  ${message.description}</td></tr>
    <tr><th align="left">Links:      </th>     <td>  ${message.links}</td></tr>
    <tr> <th align="left">Duration:   </th>     <td>  ${message.duration}</td></tr>
</table>
<br>
---------------------------------------------------------------------
<h4>   <a href="http://project/courseDetails/${message.id}">Need to be approved by Knowledge Manager</a> .</h4>
 </body>
 </html>