<html>
<body>
<h3> Course ${message.nameCourse} Rejected </h3>
--------------------------------------------------------------------
<br>
<table>
    <tr><th align="left">Category:</th>   <td>    ${message.category}</td></tr>
    <tr> <th align="left">Name:     </th>     <td>   ${message.nameCourse}</td></tr>
    <tr><th align="left">Description: </th>    <td>  ${message.description}</td></tr>
    <tr><th align="left">Links:      </th>     <td>  ${message.links}</td></tr>
    <tr> <th align="left">Duration:   </th>     <td>  ${message.duration}</td></tr>
    <tr><th align="left">Rejected By:      </th>     <td>  ${user.authority} - ${user.name}</td></tr>
    <tr> <th align="left">Reject Reason:   </th>     <td>  ${course.departmentManagerReason}</td></tr>
    <tr> <th align="left">  </th>     <td>  ${course.knowledgeManagerReason}</td></tr>
</table>
<br>
---------------------------------------------------------------------

</body>
</html>