<html>
<body>
 <h3> Course Announcement ${lector} : ${nameCourse} </h3>
--------------------------------------------------------------------
     Category:        ${category}
     Name:            ${nameCourse}
     Description:     ${description}
     Links:           ${links}
     Duration:        ${duration}
---------------------------------------------------------------------
 Please, approve this <a href="${courseLink}">course</a>.

 </body>
 </html>